.items{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
}
body{
    margin: 2%;
    background-color: black;
    color: white;
}
input{
    margin-top: 10px;
    width: auto;
}
.btn{
    background-color: white;
    color: black;

}
table{
    width: 50%;
    border: 2px;
    border-style: solid;
    border-color: white;
    text-align: left;
}
