.items{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
}
body{
    margin: 2%;
    background-color: black;
    color: white;
}
input{
    margin-top: 10px;
    width: auto;
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    font-size: 16px;
}
.btn{
    background-color: white;
    color: black;

}
table{
    min-width: 50%;
    border: 2px;
    border-style: solid;
    border-color: white;
    text-align: left;
    border-collapse: separate;
    border-spacing: 2em 1em;
}
td{
    padding: 10px;
}
th{
    padding: 10px;
}
